alias ls="ls -lah"
alias gs="git status $1"
alias gc="git commit $1"
alias gpp="g++ $1"
alias gl="git log $1"
alias gp="git push $1"
alias gpl="git pull $1"
alias glgh="git hist"

source ~/.aliases_work
